<nav class="#263238 blue-grey darken-4">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">IP Details</a>
    </div>
</nav>

<div class="container">
    <p><b>Enter a valid IP address</b></p>
    <div class="divider"></div>
    <div class="center " style="height: 100px;">
        <a class="center" href="/"><b>Search again</b></a>
    </div>
</div>